<!doctype html>
<html>
	<head>
		<meta charset="UTF-8" />
		<title><%= title %></title>
		<!-- https://developer.mozilla.org/en-US/docs/Web/HTTP/CSP -->
		<!-- <meta http-equiv="Content-Security-Policy" content="default-src 'self'; script-src 'self'; style-src 'self' 'unsafe-inline'" /> -->
		<!-- <meta http-equiv="Content-Security-Policy" content="*" /> -->
		<!-- <link rel="icon" href="/setting.ico" /> -->

		<link rel="icon" href="<%- favicon %>">

		<style>
			html,
			
			#app {
				width: 100%;
				height: 100%;
				margin: 0;
				overflow: hidden;
			}

			body {
				width: 100%;
				height: 100%;
				margin: 0;
				overflow: auto;
				/* display: flex;
				flex-direction: column;
				align-items: center;
				justify-content: center; */
			}


			.articles-title {
				margin: 0;
				padding: 0;
				font-size: 1.5rem;
				font-weight: bold;
				text-align: center;
			}


			img.mantle {
				width: 100%;
			}
		</style>
	</head>

	<body>
		<h1 class="articles-title">
			<a href="<%= url %>" target="_blank" id="origin-url"><%= title %></a>
		</h1>
		
		<img class="mantle" src="<%= image %>"  id="origin-image"/>

		<div class="content"><%- content %></div>
	</body>
</html>
